<div class="row mt-5">
    <div class="col-12">
        <div class="row">
            <div class="col-4 no-padding">
                <label class="radio-inline" style="float: left;">
                    <input  type="radio"   name="inlineRadioOptions" ng-model="type" ng-change="changeType()" value="consultant" > Por Consultor
                </label>
                <label class="radio-inline ml-3">
                    <input type="radio"  name="inlineRadioOptions" ng-model="type" value="client" ng-change="changeType()"> Por Cliente
                </label>
            </div>
            <div class="col-8 no-padding">
                <div class="row">
                    <div class="col-4 no-padding">Periodo</div>
                    <div class="col-4 no-padding">Periodo1</div>
                    <div class="col-4 no-padding">Periodo2</div>
                </div>
                
            </div>
        </div>
        
    </div>
    
</div>
