<div class="row mt-5">
    <div class="col-12 col-md-4 ">
        <label class="radio-inline" style="float: left;">
            <input  type="radio"   name="inlineRadioOptions" ng-model="type" ng-change="changeType()" value="consultant" > Por Consultor
        </label>
        <label class="radio-inline ml-3">
            <input type="radio"  name="inlineRadioOptions" ng-model="type" value="client" ng-change="changeType()"> Por Cliente
        </label>
    </div>
    <div class="col-12 col-md-8 ">
        <div class="row">
            <div class="col-md-3 no-padding">Periodo</div>
            <div class="col-md-4 "><input type="date" id="date_init" ng-model="fecha_init" class="form-control" placeholder="Datado de"/></div>
            <div class="col-md-1 no-padding">a</div>
            <div class="col-md-4 ">
                <input type="date" class="form-control" id="date_end" ng-model="fecha_end" placeholder="Data para cima">
            </div>
        </div>
        
    </div>
</div>
<hr></hr>
<div class="row">
    <div class="col-md-12 text-left"><h5>{{(type=='client')?'Clientes':'Consultores'}}</h5></div>    
    <div class="col-md-4">
        <fieldset class="form-group">
            <select multiple class="form-control" ng-model="selectedLeft" style="height: 300px;" id="exampleSelect1">
                <option ng-repeat="item in listLeft" value="{{item.co_usuario}}">{{item.no_usuario}}</option>
            </select>
        </fieldset>
    </div>
    <div class="col-md-1 col-12 hidden-sm-down">
        <div class="col-md-12 cursor-pointer" style="margin-top:100px" ng-click="moveRightSide()"><i style="color:#9E9E9E" class="fa fa-angle-double-right fa-2x"></i></div>
        <div class="col-md-12 cursor-pointer" ng-click="moveLeftSide()"><i style="color:#9E9E9E" class="fa fa-angle-double-left fa-2x"></i></div>
    </div>
    <div class="col-md-1 col-12 hidden-sm-up mb-3">
        <div class="row">
            <div class="col-6 cursor-pointer" ng-click="moveLeftSide()"><i style="color:#9E9E9E;float: right;" class="fa fa-angle-double-up fa-2x"></i></div>
            <div class="col-6 cursor-pointer" ng-click="moveRightSide()"><i style="color:#9E9E9E;float: left;" class="fa fa-angle-double-down fa-2x"></i></div>
        </div>
            
        </div>
    <div class="col-md-4">
        <fieldset class="form-group">
            <select multiple class="form-control" ng-model="selectedRight" style="height: 300px;" id="exampleSelect1">
                <option ng-repeat="item in listRight" value="{{item.co_usuario}}">{{item.no_usuario}}</option>
            </select>
        </fieldset>
    </div>
    <div class="col-md-3 col-12" ng-show="type=='consultant'">
        <div class="col-12 text-position"><button type="button" ng-click="report('relatorio')" class="btn btn-info btn-comercial"><i  class="fa fa-address-card"></i>  Relatório</button></div>
        <div class="col-12 mt-2 text-position"><button type="button" ng-click="report('grafico')"  class="btn btn-info btn-comercial"><i  class="fa fa-chart-bar"></i>  Gráfico</button></div>
        <div class="col-12 mt-2 text-position"><button type="button" ng-click="report('pizza')" class="btn btn-info btn-comercial"><i  class="fa fa-chart-pie"></i>  Pizza</button></div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12" ng-show="showRelatorio" id="relatorio-container">
        <table ng-repeat="consultor in datosDesempenho" class="table table-bordered table-hover table-sm">
            <thead bgcolor="#efefef">
            <tr style="background-color: #17a2b8;color: white;text-align: left;"><td colspan="5" ><span class="style3">{{consultor.no_usuario}}</span></td></tr>            
            <tr bgcolor="#fafafa">
                <td nowrap="">
                    <div align="center"><strong>Período</strong></div>
                </td>
                <td>
                    <div align="center"><strong>Receita Líquida </strong></div>
                </td>
                <td>
                    <div align="center"><strong>Custo Fixo </strong></div>
                </td>
                <td>
                    <div align="center"><strong>Comissão</strong></div>
                </td>
                <td>
                    <div align="center"><strong>Lucro</strong></div>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr bgcolor="#fafafa" ng-repeat="period in consultor.periods">
                <td nowrap="">{{period.fecha | date:'MMMM - yyyy'}}</td>
                <td>
                    <div align="right">R$ {{period.receita_liquida | number : 2}}</div>
                </td>
                <td>
                    <div align="right">R$ {{consultor.cuxto_fijo | number : 2}}</div>
                </td>
                <td>
                    <div align="right">R$ {{period.comissao | number : 2}}</div>
                </td>
                <td>
                    <div align="right">R$ {{period.lucro | number : 2}}
                    </div>
                </td>
            </tr>
            <tr bgcolor="#efefef">
                <td nowrap="" bgcolor="#efefef"><strong>SALDO</strong></td>
                <td>
                    <div align="right">R$ {{consultor.receita_liquida_total | number : 2}}</div>
                </td>
                <td>
                    <div align="right">R$ {{consultor.cuxto_fijo_total | number : 2}}</div>
                </td>
                <td>
                    <div align="right">R$ {{consultor.comissao_total | number : 2}}</div>
                </td>
                <td>
                    <div align="right">R$ {{consultor.lucro_total | number : 2}}</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div  ng-if="showGrafica" class="col-md-12">
        <highchart id="relatorio-chart" config="chartOptions"></highchart>
    </div>
    <div  ng-show="showPizza" class="col-md-12">
        <fusioncharts
                flex
                width="100%"
                height="350px"
                type="pie3d"
                datasource="{{pizzaDataSource}}"
        ></fusioncharts>
    </div>
</div>
    

